<!-- Handle entry redirection -->
<div ng-controller="homeRedirect"></div>

<!--

    DESKTOP VIEW:

    Location                   Date                       Time spent        Radius
    +--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
    |         Location         |           Date           |   Time spent    |     Radius      |     SEARCH      |
    +--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
                 3
                                         3                      2                 2                 2

    MOBILE VIEW:

    Location
    +--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
    |                                                  Location                                                 |
    +--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
    Date
    +--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
    |                                                   Date                                                    |
    +--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
    Time spent
    +--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
    |                                                Time spent                                                 |
    +--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
    Radius
    +--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
    |                                                  Radius                                                   |
    +--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+

    +--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
    |                                                  SEARCH                                                   |
    +--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
                                                          12

 -->

<div ng-controller="homeController">

    <!-- ROW div for the search bar -->
    <div class="row no-margin search-top-offset">

        <!-- External padding for the search BAR. 1 column offset -->
        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">

            <!-- Submission form for SEARCH query -->
            <form class="form" ng-submit="submitFields()">

                <!-- ROW div for INNER search bar -->
                <div class="row no-bot-margin">

                    <!-- LOCATION field holder -->
                    <div class="col-sm-12 col-md-3 no-padding">
                        <p class="white-input">Location:</p>
                        <div class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-pushpin square no-top"></span>
                            <input type="text" class="form-control square" ng-model="homeSearch.location" autocomplete="on">
                        </div>
                    </div>

                    <!-- DATETIME field holder -->
                    <div class="col-sm-12 col-md-3 no-padding">
                        <p class="white-input">Date and Time:</p>
                        <div class="input-group">
                            <span class="input-group-addon square glyphicon glyphicon-calendar no-top"></span>
                            <input type="datetime" class="form-control square" ng-model="homeSearch.datetime">
                            <div class="input-group-btn square">
                                <div class="btn-group square">
                                    <button class="btn btn-default dropdown-toggle dropdown-button square" type="button" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" style="margin: 0; padding: 0;" role="menu">
                                        <div uib-datepicker ng-model="dt" class="well well-sm no-margin" datepicker-options="options"></div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- DURATION field holder -->
                    <div class="col-sm-12 col-md-2 no-padding">
                        <p class="white-input">Duration:</p>
                        <div class="input-group">
                            <span class="input-group-addon square glyphicon glyphicon-time no-top"></span>
                            <input type="number" class="form-control square" ng-model="homeSearch.duration">
                        </div>
                    </div>

                    <!-- RADIUS field holder -->
                    <div class="col-sm-12 col-md-2 no-padding">
                        <p class="white-input">Radius:</p>
                        <div class="input-group">
                            <span class="input-group-addon square glyphicon glyphicon-record no-top"></span>
                            <input type="number" class="form-control square" ng-model="homeSearch.radius">
                        </div>
                    </div>

                    <!-- SEARCH button holder -->
                    <div class="col-sm-12 col-md-2 no-padding">
                        <p class="white-input"><br></p>
                        <div>
                            <p><button type="submit" class="btn btn-success btn-block square">Submit</button></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
