.square{
    border-radius: 0;
}

.no-margin{
    margin-left: 0;
    margin-right: 0;
}

.no-bot-margin{
    margin-bottom:0;
}

.no-margin{
    margin-bottom:0;
    margin-top:0;
}

.no-padding{
    padding-right:0;
    padding-left:0;
}

.custom-dropdown{
    padding: 0;
    margin: 0;
}

.no-padding-right{
    padding-right:0;
}

.search-top-offset{
    margin-top: 55vh;
}

.panel-top-offset{
    margin-top: 10vh;
}

.white-input{
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.no-top{
    top: 0;
}

.hide-left{
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
}

.map-dimensions{
    overflow: hidden;
    height: calc(100vh - 52px);
    width: 100%;
    background: url(../images/loading.gif) no-repeat center center;
    background-size: 100px 100px;
}
.sidenav {
    background-color: #E2DDD6;
    height: calc(100vh - 52px);
}

.left-bar-field {
    padding-right: 0;
    padding-left: 0;
}

.left-bar-field-button {
    padding-top: 10px;
    padding-right: 0;
    padding-left: 0;
}

.navbar-default {
    background: rgba(226,221,214,0.85);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: black;
}

.navbar-brand {
    color: black !important;
}