.square{
    border-radius: 0;
}

.no-margin{
    margin-left: 0;
    margin-right: 0;
}

.no-bot-margin{
    margin-bottom:0;
}

.no-padding{
    padding-right:0;
    padding-left:0;
}

.no-padding-right{
    padding-right:0;
}

.search-top-offset{
    margin-top: 55vh;
}

.panel-top-offset{
    margin-top: 10vh;
}

.white-input{
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.no-top{
    top: 0;
}

.hide-left{
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
}

.map-dimensions{
    height: calc(100vh - 55px);
    width: 100%;
    background: #ffffff url(../images/loading.gif) no-repeat center center;
}
