<!--

    DESKTOP VIEW:

    Location
    +--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
    |         Location         |                                                                                |
    +--------+--------+--------+                                                                                |
    |      Date and Time       |                                                                                |
    +--------+--------+--------+                                                                                |
    |       Time spend         |                                   GOOGLE                                       |
    +--------+--------+--------+                                    MAPS                                        |
    |          Radius          |                                                                                |
    +--------+--------+--------+                                                                                |
    3             |                                                                                |
    +                                                                                |
    |                                                                                |
    +--------+--------+--------+--------+--------+--------+--------+--------+--------+
    9


    MOBILE VIEW:

    Location
    +--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
    |             Location              |                                                                       |
    +--------+--------+--------+--------+                                                                       |
    |           Date and Time           |                                                                       |
    +--------+--------+--------+--------+                                                                       |
    |            Time spend             |                                GOOGLE                                 |
    +--------+--------+--------+--------+                                 MAPS                                  |
    |              Radius               |                                                                       |
    +--------+--------+--------+--------+                                                                       |
    4                 |                                                                       |
    +                                                                       |
    |                                                                       |
    +--------+--------+--------+--------+--------+--------+--------+--------+
    8

-->
<div class="container-fluid no-padding">
    <!-- ROW div for the search bar -->
    <!-- Left search bar holder -->
    <div class = "col-sm-4 col-md-3">
        <div class="row">
            <div class="sidenav-top no-padding" ng-show="!isChatting">
                <form ng-submit="submitLocation()">
                    <!-- ROW div for the left search bar -->
                    <!-- Location input field -->
                    <div class="col-xs-12 col-sm-12 col-md-12 left-bar-field">
                        <div class="input-group">
                            <span class="input-group-addon text-field-colour square no-bottom-border"><span class="glyphicon glyphicon-pushpin"></span></span>
                            <input places-auto-complete type="text" class="form-control input-lg square text-field-colour no-left-border no-bottom-border no-padding simplebox" placeholder="Current Location" ng-model="appSearch.location">
                        </div>
                    </div>

                    <!-- Submit button. Must be pushed OUT OF BOUNDS and prevented from being tabbed to -->
                    <input type="submit" class="hide-left" tabindex="-1" />
                </form>
                <form ng-submit="submitFields()">
                    <!-- ROW div for the left search bar -->

                    <!-- Date and Time input field -->
                    <div class="col-xs-12 col-sm-12 col-md-12 left-bar-field">
                        <div class="input-group">
                            <span class="input-group-addon text-field-colour square no-bottom-border"><span class="glyphicon glyphicon-calendar"></span></span>
                            <input type="datetime" class="form-control input-lg square text-field-colour no-left-border no-bottom-border simplebox" ng-model="appSearch.datetime">
                        </div>
                    </div>

                    <!-- Submit button. Must be pushed OUT OF BOUNDS and prevented from being tabbed to -->
                    <input type="submit" class="hide-left" tabindex="-1" />
                </form>

                <!-- Duration input field and Radius input field -->
                <div class="col-xs-12 col-sm-12 col-md-12 left-bar-field">
                    <div class="input-group">
                        <span class="input-group-addon text-field-colour square no-bottom-border"><span class="glyphicon glyphicon-time"></span></span>
                        <form ng-submit="submitFields()">
                            <input type="number" class="form-control input-lg square text-field-colour no-left-border no-bottom-border no-padding simplebox" ng-model="appSearch.duration">

                            <!-- Submit button. Must be pushed OUT OF BOUNDS and prevented from being tabbed to -->
                            <input type="submit" class="hide-left" tabindex="-1" />
                        </form>

                        <span class="input-group-addon text-field-colour square no-left-border no-right-border no-bottom-border"><span class="glyphicon glyphicon-record"></span></span>
                        <form ng-submit="submitLocation()">
                            <input type="number" class="form-control input-lg square text-field-colour no-left-border no-bottom-border simplebox" ng-model="appSearch.radius">

                            <!-- Submit button. Must be pushed OUT OF BOUNDS and prevented from being tabbed to -->
                            <input type="submit" class="hide-left" tabindex="-1" />
                        </form>
                    </div>
                </div>

                <form ng-submit="submitFields()">
                    <!-- Option fields -->
                    <div class="col-xs-12 col-sm-12 col-md-12 left-bar-field">
                        <div class="input-group">
                            <div class="form-control input-lg square text-field-colour">Options</div>
                            <span class="input-group-btn">
                                <button type="button" class="btn input-lg dropdown-toggle square text-field-colour" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-types-small dropdown-menu-right" ng-click="$event.stopPropagation();">
                                    <div ng-repeat="type in types">
                                        <!--<input type="checkbox" id="{{type.name}}" autocomplete="off" ng-model="type.isSelected" class="hidden">-->
                                        <label class="std-font check-box-not-clicked" for="{{type.name}}" ng-if="!type.isSelected" ng-click="toggleSelected($index); submitFields()">
                                            <img class="type-icon-small" src="{{type.image}}">
                                            {{type.name}}
                                        </label>
                                        <label class="std-font check-box-clicked" for="{{type.name}}" ng-if="type.isSelected" ng-click="toggleSelected($index); submitFields()">
                                            <img class="type-icon-small" src="{{type.image}}">
                                            {{type.name}}
                                        </label>
                                    </div>
                                </div>
                            </span>
                        </div>
                        <div class="scrollable-table text-field-colour set-boarder">
                            <table class="table table-hover table-bordered set-boarder no-bottom-border no-margin">
                                <tbody>
                                    <tr ng-repeat="type in types" class="no-right-border no-left-border">
                                        <td ng-if="type.isSelected" class="flex-row">
                                            <img class="type-icon-small" src="{{type.image}}">
                                            {{type.name}}
                                            <button type="button" class="close flex-right" aria-label="Close" ng-click="toggleSelected($index); submitFields()">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Submit button. Must be pushed OUT OF BOUNDS and prevented from being tabbed to -->
                    <input type="submit" class="hide-left" tabindex="-1" />
                </form>
                <!-- Users fields -->
                <div class="col-xs-12 col-sm-12 col-md-12 left-bar-field">
                    <div class="input-group full-width">
                        <div class="col-xs-5 no-padding">
                            <div class="form-control input-lg square text-field-colour no-top-border">Members</div>
                        </div>
                        <div class="col-xs-4 no-padding">
                            <span class="input-group-btn">
                                <button type="button" class="btn input-lg dropdown-toggle square text-field-colour full-width no-padding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="text-field-colour">Change Colour</span>
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu scrollable-table dropdown-menu-right square text-field-colour">
                                     <div ng-repeat="color in colors">
                                         <div style="background:{{color.hex}};">
                                            <button style="width: 80%;" ng-click="changeUserColour(color.hex)">
                                                {{color.name}}
                                            </button>
                                         </div>
                                   </div>
                                </div>
                            </span>
                        </div>
                        <div class="col-xs-3 no-padding">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-lg input-lg square no-left-border no-right-border btn-search full-width no-padding" ng-click="openLink()">
                                    Invite
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="scrollable-table text-field-colour set-boarder">
                        <table class="table table-hover table-bordered set-boarder no-margin">
                            <tbody>
                                <tr ng-repeat="user in users">
                                    <td>
                                        {{user.username}}
                                        <button type="button" class="close" aria-label="Close" ng-click="deleteUser($index)">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button type="button" class="btn btn-block btn-lg btn-search square no-top-border" ng-click="performSearch()">SEARCH</button>
            </div>
            <div class="sidenav-top no-padding" ng-show="isChatting">
                <div class="close-box">
                    <button type="button" class="close" aria-label="Close" ng-click="isChatting = false;">
                        <span aria-hidden="true" class="close-lg">&times;</span>
                    </button>
                </div>
                <div scroll-glue id="message-board">
                    <div ng-repeat="mes in messages">
                        <div class="panel panel-default message-box my-message" ng-show="isMyMessage(mes.username)">
                            <span class="username">{{mes.username}}: </span>
                            <!--<span class="location">@{{mes.location}}</span>-->
                            <br>
                            <span class="message">{{mes.message}}</span>
                        </div>
                        <div class="panel panel-default message-box others-message" ng-show="!isMyMessage(mes.username)">
                            <span class="username">{{mes.username}}: </span>
                            <!--<span class="location">@{{mes.location}}</span>-->
                            <br>
                            <span class="message">{{mes.message}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 left-bar-field">
                    <div class="input-group">
                        <form ng-submit="sendMessage()">
                            <input type="text" class="form-control square" ng-model="message">
                            <!-- Submit button. Must be pushed OUT OF BOUNDS and prevented from being tabbed to -->
                            <input type="submit" class="hide-left" tabindex="-1" />
                        </form>
                        <span class="input-group-btn">
                            <button class="btn btn-primary square" type="submit" ng-click="sendMessage();">Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-md-9 no-padding">
        <!-- The following is the controller for the post location -->
        <!-- The div nesting was done so that we could have the rotating gif
            when a search is commensed. -->
            <div class="map-dimensions">
                <div id="map" class="map-dimensions" ng-show="!issueSearch"></div>
            </div>
    </div>
</div>
