<div ng-controller="appController">

    <!--
    Bootstrap assigning a left column for the buttons,
    right column for the map
    -->
    <div class="row" style="margin-left: 0px; margin-right: 0px;">
        <div class="col-xs-6 col-sm-4 col-md-3" style="padding-right:0;padding-left:0;">
            <form ng-submit="submitFields()">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12" style="padding-right:0;">
                        <div class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-pushpin" style="top: 0px;"></span>
                            <input type="text" class="form-control" ng-model="appSearch.location" autocomplete="on">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12" style="padding-right:0;">
                        <div class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-calendar" style="top: 0px;"></span>
                            <input type="datetime" class="form-control" ng-model="appSearch.datetime">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12" style="padding-right:0;">
                        <div class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-time" style="top: 0px;"></span>
                            <input type="number" class="form-control" ng-model="appSearch.duration">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12" style="padding-right:0;">
                        <div class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-record" style="top: 0px;"></span>
                            <input type="number" class="form-control" ng-model="appSearch.radius">
                        </div>
                    </div>

                    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" tabindex="-1" />
                </div>
            </form>

        </div>
        <div class="col-xs-6 col-sm-8 col-md-9" style="padding-right:0;">
            <!-- The following is the controller for the post location -->
            <div id="map" style="height: calc(100vh - 55px); width: 100%;" ng-controller="postLocation"></div>
        </div>
    </div>

    <!--
        <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form class="form-horizontal" ng-submit="submitFields()">
                <div class="input-group">
                    <span class="input-group-addon" id="location-addon">Location</span>
                    <input type="text" class="form-control" aria-describedby="location-addon" ng-model="homeSearch.location" autocomplete="on">
                    <span class="input-group-addon" id="datetime-addon">Date and Time</span>
                    <input type="datetime" class="form-control" aria-describedby="datetime-addon" ng-model="homeSearch.datetime">
                    <span class="input-group-addon" id="duration-addon">Duration</span>
                    <input type="number" class="form-control" aria-describedby="duration-addon" ng-model="homeSearch.duration">
                    <span class="input-group-addon" id="radius-addon">Radius</span>
                    <input type="number" class="form-control" aria-describedby="radius-addon" ng-model="homeSearch.radius">
                    <span class="input-group-addon" id="submit-addon">Search</span>
                    <input type="submit" class="form-control" aria-describedby="submit-addon">
                </div>
            </form>
        </div>
    </div>
    -->

</div>