<!--

    DESKTOP VIEW:

    Location
    +--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
    |         Location         |                                                                                |
    +--------+--------+--------+                                                                                |
    |      Date and Time       |                                                                                |
    +--------+--------+--------+                                                                                |
    |       Time spend         |                                   GOOGLE                                       |
    +--------+--------+--------+                                    MAPS                                        |
    |          Radius          |                                                                                |
    +--------+--------+--------+                                                                                |
    3             |                                                                                |
    +                                                                                |
    |                                                                                |
    +--------+--------+--------+--------+--------+--------+--------+--------+--------+
    9


    MOBILE VIEW:

    Location
    +--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
    |             Location              |                                                                       |
    +--------+--------+--------+--------+                                                                       |
    |           Date and Time           |                                                                       |
    +--------+--------+--------+--------+                                                                       |
    |            Time spend             |                                GOOGLE                                 |
    +--------+--------+--------+--------+                                 MAPS                                  |
    |              Radius               |                                                                       |
    +--------+--------+--------+--------+                                                                       |
    4                 |                                                                       |
    +                                                                       |
    |                                                                       |
    +--------+--------+--------+--------+--------+--------+--------+--------+
    8

-->
<div class="container-fluid no-padding" xmlns="http://www.w3.org/1999/html">
    <!-- ROW div for the search bar -->
    <!-- Left search bar holder -->
    <div id="leftNav" class="col-sm-4 col-md-3 no-padding" ng-show="sideLeftBarShow" style="z-index: 1;">
        <!-- animate slideInRLeft -->
        <div class="sidenav-top nav-left-animate">
            <button class="btn left-nav-toggle-button simplebox" ng-click="toggleLeftNav()">
                TOGGLE LEFT
            </button>
            <div class="panel-group no-margin" id="accordion">
                <div class="panel panel-default no-border">
                    <div id="left-nav-options">
                        <button class="left-nav-button simplebox">
                            <div class="panel-heading">
                                <h2 class="panel-title" ng-click="setAccordionOptions('options');">Options</h2>
                            </div>
                        </button>
                        <div ng-show="accordionOptions" class="option">
                            <div class="panel-body">
                                <div ng-include="'/components/app/options.html'"></div>
                            </div>
                        </div>
                    </div>
                    <div id="left-nav-users">
                        <button class="left-nav-button simplebox">
                            <div class="panel-heading">
                                <h2 class="panel-title" ng-click="setAccordionOptions('users');">Users</h2>
                            </div>
                        </button>
                        <div class="user" ng-show="accordionUsers">
                            <div class="panel-body">
                                <div ng-include="'/components/app/users.html'"></div>
                            </div>
                        </div>
                    </div>
                    <div id="left-nav-credit">
                        <button class="left-nav-button simplebox">
                            <div class="panel-heading">
                                <h2 class="panel-title" ng-click="setAccordionOptions('credit');">Credit</h2>
                            </div>
                        </button>
                        <div class="credit" ng-show="accordionCredit">
                            <div class="panel-body">
                                <p class="grey-text">Icons made by
                                    <a href="http://www.freepik.com" target="_blank">Freepik</a> and
                                    <a href="http://www.scottdejonge.com" target="_blank">Scott de Jonge</a> from
                                    <a href="https://www.flaticon.com" target="_blank"> www.flaticon.com </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-class="{'col-sm-8 col-md-9 no-padding': getMapSize() == 1, 'col-sm-4 col-md-6 no-padding': getMapSize() == 2}">
        <!--div class="col-sm-4 col-md-6 no-padding"-->
        <!-- The following is the controller for the post location -->
        <!-- The div nesting was done so that we could have the rotating gif
            when a search is commensed. -->
            <div class="map-dimensions">
                <div id="map" class="map-dimensions" ng-show="!issueSearch"></div>
            </div>
            <button class="btn left-nav-toggle-button-map simplebox" ng-click="toggleLeftNav()">
                TOGGLE LEFT
            </button>
            <button class="btn right-nav-toggle-button-map simplebox" ng-click="toggleRightNav()">
                TOGGLE RIGHT
            </button>
    </div>
    <div id="rightNav" class="col-sm-4 col-md-3 no-padding" ng-show="sideRightBarShow">
        <!-- animate slideInRight -->
        <div class="sidenav-top nav-right-animate">
            <button class="btn right-nav-toggle-button simplebox" ng-click="toggleRightNav()">
                TOGGLE RIGHT
            </button>
            <div class="panel-group no-margin" id="accordion">
                <div class="panel panel-default no-border">
                    <div id="left-nav-chat">
                        <button class="left-nav-button simplebox">
                            <div class="panel-heading">
                                <h2 class="panel-title" ng-click="insideRoom = false; currentRoom = 'Chat'">
                                    {{currentRoom}}
                                    <span class="badge pull-right" ng-show="numMessages > 0 && !insideRoom;">{{numMessages}}</span>
                                    <i class="fa fa-chevron-left pull-right " ng-show="insideRoom;"></i>
                                </h2>
                            </div>
                        </button>
                        <div class="chat">
                            <div class="panel-body">
                                <div ng-include="'/components/app/chat.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
