<!DOCTYPE html>
<div class="row">

    <button type="button" class="btn btn-block btn-lg btn-opt-search square no-border no-margin-important" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span >Change Colour</span>
        <span class="caret"></span>
    </button>

    <!--
        <div class="dropdown-menu scrollable-table dropdown-menu-right square text-field-colour">
        <div ng-repeat="color in colors">
        <div style="background:{{color.hex}};">
        <button style="width: 80%;" ng-click="changeUserColour(color.hex)">
        {{color.name}}
        </button>
        </div>
        </div>
        </div>
    -->

    <div class="dropdown-menu dropdown-menu-types-tiny dropdown-menu-right" ng-click="$event.stopPropagation();">
        <div ng-repeat="color in colors">
            <div class="row no-margin" style="background:{{color.hex}};" ng-click="changeUserColour(color.hex)">
                <div class="col-xs-10 col-xs-offset-2 no-padding">
                    <button type="button" class="btn btn-block square std-font check-box-button no-padding simplebox" ng-click="changeUserColour(color.hex)">
                        {{color.name}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Users fields -->
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="scrollable-table-users left-nav-bg no-boarder">
            <table class="table table-hover table-bordered underline no-margin">
                <tbody>
                    <tr ng-repeat="user in users">
                        <td>
                            {{user.username}}
                            <button type="button" class="close flex-right no-border" aria-label="Close" ng-click="deleteUser($index)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <button type="button"  class="btn btn-block btn-lg btn-opt-search square no-border no-margin-important" ng-click="openLink()">
        INVITE
    </button>
</div>

