#left-nav-chat{
    .panel-heading {
        border-radius: 0;
        border-color: $left-nav-header-border;
        border-style: solid;
        border-width: 1px;
        border-right: none;
        border-bottom: none;
        border-left: none;
        vertical-align: middle;
    }
    .panel-body{
        background: $left-nav-text-bg;
    }
    .chat-header {
        display: inline-block;
        width: 90%;
    }
    .fa.pull-right {
        padding-top: 2px;
    }
}

/* Messages *************************************************/
.close-lg {
    font-size: 30px;
}

$close-box-height: 40px;
.close-box {
    height: $close-box-height;
}


.message-title {
    font-size: 18px;
    padding-left: 20px;
}

#message-board {
    height: calc(100vh - 170px);
    overflow: auto;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    .panel-group {
        .panel {
            margin-bottom: 10px;
            max-width: 80%;
        }
        .panel-heading {
            padding-top: 5px;
            padding-bottom: 5px;
            background: #b0bec5;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            border: none;
        }
        .panel-body {
            background: white;
            border-radius: 3px;
        }
    }
    .message-box {
        display: inline-block;
        padding: 3px 30px;
        font-size: 16px;
    }
    .location {
        word-wrap: break-word;
    }
    .message {
        word-wrap: break-word;
    }
    .username {
        word-wrap: break-word;
        display: block;
    }
    .my-message {
        float: right;
        clear: both;
    }
    .others-message {
        float: left;
        clear: both;
        .username {
            text-align: left;
        }
    }
    .large-icon {
        font-size: 150px;
    }
    .no-conversation {
        animation-delay: 0.1s;
        animation-duration: 0.7s;
    }
    .conversation {
        animation-duration: 0.3s;
    }
}

#message-board-entry {
    animation-duration: 0.3s;
    .panel {
        border: none;
    }
    .type-icon-small {
        padding-right: 0;
        max-width: 18px;
    }
    .message-room {
        background: $left-nav-text-bg;
    }
    .wrap-text {
        width: 90%;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .btn-room, .btn-room:focus {
        @extend .square;
        padding-left: 15px;
        font-size: 18px;
        background: $left-nav-text-bg;
        display: block;
        border: none;
        width: 100%;
        text-align: left;
    }

    .btn-room:hover {
        background: #fafafa
    }
    .add-space-for-badge {
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }
    .badge {
        margin-top: 2px;
    }


}
