/* Search bar padding ***************************************/
$search-padding-bottom: 10px;
$search-padding-top: 70px;
$bottom-padding: calc(100vh - 50px - 70px - 82px - 9vh);
/*************************************************************/
