/* Colour pallet for buttons ********************************/
$search-field-text: #000000;
$search-field-bg: rgb(221, 218, 215);
$search-field-border: rgb(193, 173, 150);
$search-btn-text: rgb(140, 71, 30);
$search-btn-bg: rgb(209, 136, 91);
$search-btn-border: $search-btn-bg;
$search-btn-highlight: rgb(189, 116, 71);
$search-btn-opt-bg: #546e7a;
$search-btn-opt-highlight:#78909c;
$like-btn-text: rgb(255, 255, 255);
$like-btn-bg: rgb(0, 0, 179);
$like-btn-border: rgb(0, 0, 77);
$like-btn-highlight: rgb(77, 77, 255);
/************************************************************/

/* Colour pallet for nav-bar ********************************/
$nav-bg: rgba(0, 0, 0, 0.8);
$nav-text: $search-field-bg;
$nav-text-highlight: #FFFFFF;
$nav-text-brand: $search-field-bg;
$user-dd-bg: #eceff1;
$user-dd-border: #455a64;
$user-dd-bottom-bg: #eceff1;
/************************************************************/

/* Colour pallet for home ***********************************/
$field-title-text: #FFFFFF;
$option-bg: rgb(229, 222, 215);
$option-select-bg: rgb(202, 188, 175);
$option-border: $search-field-border;
/************************************************************/

/* Colour pallet for app *** ********************************/
$table-border: $search-field-border;
$left-nav-header: #455a64;
$left-nav-header-selected: #496069;
$left-nav-header-border: #37474f;
$left-nav-text-bg: #eceff1;
$left-nav-option-bg: $left-nav-text-bg;
$left-nav-option-select-bg: #cfd8dc;
$info-bubble-border: $search-btn-opt-highlight;
$search-bar-border: #b0bec5;
/************************************************************/
