<!-- Default page layout used by index.html
     Adds a navbar with Home, Register and Login buttons.-->

<div ng-controller="layoutController">
    <nav class="navbar navbar-default square" style="margin-bottom:0;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Paging</a>
            </div>
            <ul class="nav navbar-nav navbar-right" ng-if="isLoggedIn() == false">
                <li><a href="/register"><span class="glyphicon glyphicon-plus"></span> Sign Up</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="isLoggedIn() == true">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>{{getName()}}</b> <span class="caret"></span></a>
                    <ul id="login-dp" class="dropdown-menu">
                        <li>
                            <div class="row">
                                <div class="col-md-12 square">
                                    <h3 class="text-center">{{getUserName()}}</h3>
                                    <div class="text-center">Email: {{getEmail()}}</div>
                                    <br />
                                </div>
                                <div class="bottom text-center square">
                                    <a href="" ng-click="logout()">Sign out</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>