$input-colour: black;

.square {
    border-radius: 0!important;
}

.input-group-cream {
    width: calc(100% + 15px);
}

.text-field-colour {
    background-color: #fff5e6 !important;
    border-color: #995c00 !important;
    opacity: 1 !important;
    color: $input-colour;
}

.glyphicon-cream {
    background-color: #fff5e6;
    color: #000000;
    border-color: #995c00;
    border-right: none;
    font-size: 25px;
}

.btn-light-cream {
    background-color: #ffcc80;
    font-variant: small-caps;
    border-color: #995c00;
    border-left: none;
    margin-left: -12px;
    margin-right: 12px;
}

.btn-light-cream:hover, .btn-light-cream:focus, .btn-light-cream:active {
    border-color: #995c00;
}

.btn-dark-orange {
    background-color: #ffa31a;
    text-transform: uppercase;
    font-weight: bold;
    border-color: #995c00;
    color: #995c00;
}

.btn-dark-orange:hover, .btn-dark-orange:focus, .btn-dark-orange:active {
    background-color: #ffd699;
}

.no-left-margin {
    margin-left: 0;
}

.align-left-margin {
    margin-left: -1px;
}

.no-right-margin {
    margin-right: 0;
}

.no-side-margin {
    margin-left: 0;
    margin-right: 0;
}

.no-bot-margin {
    margin-bottom:0;
}

.no-margin {
    margin-bottom:0;
    margin-top:0;
}

.no-padding {
    padding-right:0;
    padding-left:0;
}

.custom-dropdown {
    padding: 0;
    margin: 0;
}

.no-padding-right {
    padding-right:0;
}

.search-top-offset {
    margin-top: 55vh;
}

.panel-top-offset {
    margin-top: 10vh;
}

.white-input {
    color: #ffffff;
    font-variant: small-caps;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.no-top {
    top: 0;
}

.hide-left {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
}

.map-dimensions {
    overflow: hidden;
    height: calc(100vh - 52px);
    width: 100%;
    background: url(../images/loading.gif) no-repeat center center;
    background-size: 100px 100px;
}

.sidenav-top {
    background-color: #ffcc80;
    height: calc(60vh - 53px); 
}

.sidenav-bottom {
    background-color: #ffcc80;
    height: calc(40vh);
}

.left-bar-field {
    padding-right: 0;
    padding-left: 0;
}

.left-bar-field-button {
    padding-top: 10px;
    padding-right: 0;
    padding-left: 0;
}

.navbar-default {
    background: rgba(255, 204, 128,0.85);
    border-width: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #995c00;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus  {
    color: black;
}

.navbar-brand {
    color: black !important;
}

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background: rgba(226,221,214,0.9);
    .bottom {
        background-color: #E2DDD6;
        border-top:1px solid #ddd;
        clear:both;
        padding:14px;
    }
}

.right-dropdown {
    display: table;
}

.no-left-border {
    border-left:none !important;
    box-shadow: inset 0px 1px 0 rgba(0,0,0,.075);
}


.uib-time input {
    width: 100% !important;
}

.dropdown-menu-types {
    width: 83.33vw !important;
}

input[type="checkbox"] + label {
    background-color: #fff5e6;
    font-variant: small-caps;
    border-color: #995c00;
    margin-bottom: 0;
    min-width: 100%;
    border-style: solid;
    border-width: 1px;

}

input[type="checkbox"]:checked + label {
    background-color: #C5BBAD;
}

.fix-padding {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: -1px;
    margin-left: -1px;
}

.text-align-left {
    text-align: left !important;
}

.dropdown-menu-types {
    width: 70vw !important;
    padding: 0px 0px;
    background-color: transparent;
}

.type-icon {
    max-width: 110px;
    max-height: 110px;
    display: block;
    margin-left: auto;
	margin-right: auto;
    padding-top: 10px;
}

.center-text {
    text-align: center;
}

.btn-full-height {
    padding: 12px 12px;
}

.panel-fix-height {
    max-height: 44px;
}

.wide-row {
    margin-left: -100px;
    margin-right: -100px;
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.simplebox {
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
