/* Colour pallet for buttons ********************************/
$search-field-text: #000000;
$search-field-bg: #FFF5E6;
$search-field-border: #995C00;

$search-btn-text: #995C00;
$search-btn-bg: #FFA31A;
$search-btn-border: $search-field-border;
$search-btn-highlight: #FFD699;
/************************************************************/

/* Colour pallet for nav-bar ********************************/
$nav-bg: rgba(255, 204, 128, 0.85);
$nav-text: #995C00;
$nav-text-highlight: #000000;
$nav-text-brand: #000000;

$user-dd-bg: rgba(226,221,214,0.9);
$user-dd-bottom-bg: #E2DDD6;
/************************************************************/

/* Colour pallet for home ***********************************/
$field-title-text: #FFFFFF;
$option-bg: #FFF5E6;
$option-select-bg: #C5BBAD;
$option-border: $search-field-border;
/************************************************************/

/* Colour pallet for app *** ********************************/
$table-border: $search-field-border;
/************************************************************/

/* Button and Field *****************************************/
.text-field-colour {
    background-color: $search-field-bg !important;
    border-color:$search-field-border !important;
    color: $search-field-text;
    opacity: 1 !important;
}

.btn-search {
    background-color:$search-btn-bg;
    border-color: $search-btn-border;
    color: $search-btn-text;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-search:hover, .btn-search:focus, .btn-search:active {
    background-color: $search-btn-highlight;
}

.no-left-border {
    border-left: none !important;
    box-shadow: inset 0px 1px 0 rgba(0,0,0,.075);
}
.no-right-border {
    border-right: none !important;
    box-shadow: inset 0px 1px 0 rgba(0,0,0,.075);
}

.fix-overlap-side-margin {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: -1px;
    margin-left: -1px;
}

.fix-overlap-top-margin {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -1px;
}

.simplebox {
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-full-height {
    padding: 12px 12px;
}
/************************************************************/

/* Navbar ***************************************************/
.navbar-default {
    background: $nav-bg;
    border-width: 0;
    .navbar-nav > li > a {
        color: $nav-text;
    }
    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:focus  {
        color: $nav-text-highlight;
    }
    .navbar-brand {
        color: black !important;
    }
}

#user-dd {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background: $user-dd-bg;
    .bottom {
        background-color:$user-dd-bottom-bg;
        clear: both;
        padding: 14px;
    }
}
/************************************************************/

/* Homepage *************************************************/
.field-title {
    color: $field-title-text;
    font-variant: small-caps;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.uib-time input {
    width: 100% !important;
}

input[type="checkbox"] + label {
    background-color: $option-bg;
    font-variant: small-caps;
    border-color:$option-border;
    margin-bottom: 0;
    min-width: 100%;
    border-style: solid;
    border-width: 1px;
}

input[type="checkbox"]:checked + label {
    background-color: $option-select-bg;
}

.dropdown-menu-types {
    width: 80vw !important;
    padding: 0px 0px;
    background-color: transparent;
}

.type-icon {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
	margin-right: auto;
    padding-top: 10px;
}
/************************************************************/

/* App ******************************************************/
.hide-left {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
}

.map-dimensions {
    overflow: hidden;
    height: calc(100vh - 50px);
    width: 100%;
    background: url(../images/loading.gif) no-repeat center center;
    background-size: 100px 100px;
}

.sidenav-top {
    background-color: #ffcc80;
    height: calc(100vh - 50px);
}

.left-bar-field {
    padding-right: 0;
    padding-left: 0;
}

.left-bar-field-button {
    padding-top: 10px;
    padding-right: 0;
    padding-left: 0;
}

.scrollable-table {
    height: calc(50vh - 160px);
    overflow: auto;
    width: 100%;
}

.set-boarder {
    border-style: solid;
    border-width: 1px;
    border-top: none;
    border-color: $table-border;
}

.type-icon-small {
    max-width: 13%;
    display: inline;
    padding: 0 5px;
}

.dropdown-menu-types-small {
    width: 15vw !important;
    padding: 0px 0px;
    background-color: transparent;
}

.check-box-not-clicked {
    background-color: $option-bg;
    border-color:$option-border;
    margin-bottom: 0;
    min-width: 100%;
    border-style: solid;
    border-width: 1px;

}

.check-box-clicked {
    background-color: $option-select-bg;
    border-color:$option-border;
    margin-bottom: 0;
    min-width: 100%;
    border-style: solid;
    border-width: 1px;
}

/************************************************************/

/* Border, Margin, Padding, Text ****************************/
.square {
    border-radius: 0!important;
}

.no-left-margin {
    margin-left: 0;
}

.no-right-margin {
    margin-right: 0;
}

.no-side-margin {
    margin-left: 0;
    margin-right: 0;
}

.no-margin {
    margin-bottom:0;
    margin-top:0;
}

.no-padding {
    padding:0;
}

.search-top-offset {
    margin-top: 55vh;
}

.panel-top-offset {
    margin-top: 10vh;
}

.text-align-left {
    text-align: left !important;
}

.centre-text {
    text-align: center;
}

.std-font {
    font-weight: normal !important;
    font-variant: none !important;
    font-size: 14px !important;
}

.no-top-border {
    border-top: none;
}
/************************************************************/