.square{
    border-radius: 0!important;
}

.input-group-cream{
    width: calc(100% + 15px);
}

.text-cream{
    background-color: #fff5e6;
    font-variant: small-caps;
    border-color: #995c00;
    border-left: none;
    margin-left: -12px;
}

.glyphicon-cream{
    background-color: #fff5e6;
    color: #000000;
    border-color: #995c00;
    border-right: none;
    font-size: 25px;
}

.btn-light-cream{
    background-color: #ffcc80;
    font-variant: small-caps;
    border-color: #995c00;
    border-left: none;
    margin-left: -12px;
    margin-right: 12px;
}

.btn-light-cream:hover, .btn-light-cream:focus, .btn-light-cream:active{
    border-color: #995c00;
}

.btn-dark-orange{
    background-color: #ffa31a;
    text-transform: uppercase;
    font-weight: bold;
    border-color: #995c00;
    color: #995c00;
}

.btn-dark-orange:hover, .btn-dark-orange:focus, .btn-dark-orange:active{
    background-color: #ffd699;
}

.no-margin{
    margin-left: 0;
    margin-right: 0;
}

.no-bot-margin{
    margin-bottom:0;
}

.no-margin{
    margin-bottom:0;
    margin-top:0;
}

.no-padding{
    padding-right:0;
    padding-left:0;
}

.custom-dropdown{
    padding: 0;
    margin: 0;
}

.no-padding-right{
    padding-right:0;
}

.search-top-offset{
    margin-top: 55vh;
}

.panel-top-offset{
    margin-top: 10vh;
}

.white-input{
    color: #ffffff;
    font-variant: small-caps;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.no-top{
    top: 0;
}

.hide-left{
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
}

.map-dimensions{
    overflow: hidden;
    height: calc(100vh - 52px);
    width: 100%;
    background: url(../images/loading.gif) no-repeat center center;
    background-size: 100px 100px;
}
.sidenav {
    background-color: #ffcc80;
    height: calc(100vh - 52px);
}

.left-bar-field {
    padding-right: 0;
    padding-left: 0;
}

.left-bar-field-button {
    padding-top: 10px;
    padding-right: 0;
    padding-left: 0;
}

.navbar-default {
    background: rgba(255, 204, 128,0.85);
    border-width: 0;
}

.navbar-default .navbar-nav > li > a{
    color: #995c00;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: black;
}

.navbar-brand {
    color: black !important;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background: rgba(226,221,214,0.9);
}

#login-dp .bottom{
    background-color: #E2DDD6;
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.full-width {
    width: 100%;
}
